// color

$primary: #e5e5e5;
$secondary: #02112E;
$accent: #01BCC9;
$terciary: #6820FF;


$font: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;

//text size

$headline-size: 3.5em;
$text-size: 1.5em;
$font-bold: 600;

// break points

$phone-size: 480px;
$phone-landscape-size: 812px;
$tablet-size: 834px;
$tablet-landscape-size: 1194px;
$laptop-size: 1024px;
$large-screen: 1200px;
$extra-large-screen: 1920px;